# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Scala
3. Python

**Objectives:**
- Data Science tools
- Language of Data science
- Libraries for Data Science
- Introduction to Jupyter Notebooks

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. Pandas

| Data Science Tools |
| ---- |
| RStudio | 
| TensorFlow | 
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
import datetime
min = 200
hours = min / 60
print(hours)

3.3333333333333335

## Author
HaoJen Cheng